@charset "UTF-8";

.changePasswdHint .swal-text{
   font-size: 12px;
}
.changePwdPanel{
   background-color: #283965 !important;
   width: 100vw;
   min-height:100vh;
   position: absolute;
   z-index: 4;
   overflow: hidden;
}

.pwdPanel_wrapper{
   width: 90%;
   max-width:525px;
   margin: 0 auto;
   height: 100%;
}

.pwdPanel_title{
   font-size: 31px;
   text-align: center;
   color: white;
   font-weight: 400;
   letter-spacing: 14px;  
   margin-bottom: 60px;
}

.pwdPanel_field{
   font-size: 22px;
   margin-bottom: 11px;
   color: #aaa;
}
.pwdPanel_pwdHint{
   font-size: 13px;
   color: red;
   margin-left: 23px;

}
.pwdPanel_row{
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 30px;
}
.pwdPanel_input{
   background-color: rgba(255, 255, 255, 0.1);
   border: none;
   border-radius: 23px;
   color: white;
   padding-left: 13px;
   padding-right: 73px;
   width: 100%;
   height: 40px;
}

.pwdPanel_submit{
   background-color: #1161EE;
   color: white;
   border: none;
   border-radius: 10px;
   width: 48%;
   height: 40px;
   letter-spacing: 2px;
   font-size: 22px;
   cursor:pointer;
}
.pwdPanel_cancel{
   background-color: transparent;
   color: #7DECA5;
   border: 2px solid #7DECA5;
   border-radius: 10px;
   width: 48%;
   height: 40px;
   letter-spacing: 2px;
   font-size: 22px;
   cursor:pointer;
}