@charset "UTF-8";

* {
  outline: none;
  //font-family: Microsoft JhengHei;
}

.for-the-overlay {
  background: rgba(40, 57, 101, 0.9);
  position: relative;
  height: 100%;
  width: 100%;
}

html, body, #root, .login-wrap, .for-the-overlay {
  height: 100%;
}

body {
  margin: 0px;
  color: #6a6f8c;
  //font: 600 16px/18px 'Open Sans', sans-serif;
  //mi.com font style
  //font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  font: 600 16px/18px "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background: url("../pictures/kfsyscc_logo_big.jpg") no-repeat center;
  background-size: cover;
  padding: 0px;
  //font-family: sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
}

.clearfix:after, .clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  position: relative;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 50px 35px;
  background: transparent;
}

@mixin login_transform($translateY) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY($translateY);
  backface-visibility: hidden;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-html .sign-in-htm {
  @include login_transform(-180deg)
}

.login-html .sign-up-htm {
  @include login_transform(180deg)
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html {
  padding-bottom: 5px;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 17px;
}

.login-form .group .label,
.login-form .group .input {
  width: 100%;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.login-form .group .button {
  color: #fff;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 6px 15px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}

.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-form .group .button {
  background: #1161ee;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
  color: #fff;
}

.login-form .group .check:checked + label .icon {
  background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 35px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
  text-align: center;
}

input, button {
  height: 31px;
  font-size: 20px;
}

.greenSwitch {
  color: #7deca5;
}

.greenSwitch > span {
  color: #7deca5
}

.dialogPaper {
  border-radius: 10px !important;
  background: #fafafa;
  border-left: 10px solid #d9b3ff !important;
}